<div class="row mt-5">
    <div class="col-12 col-md-12 col-sm-12 col-lg-6">
        <div class="text-white lead py-4 text-justify">
            <p class="" >Quer entrar em contato comigo?</p>
            <p class="" >Preencha o formulário e entrarei em contato o mais rápido possivel.</p>
            <p class="">Fique a vontade para me contatar, ficarei feliz em falar com você.</p>
            <p class="">Veja meu <a href="https://gitconnected.com/josedariogonzalezcha/resume" target="_blank"> <em>curriculo</em></a> para mais informação.</p>
            <p class="" >Você também pode me encontar nas seguintes redes sociais.</p>
        </div>
        <div class="d-flex justify-content-around">
            <a href="https://www.instagram.com/jdariotrader/?hl=pt-br" target="_blank"><img class="img-thumbnail rounded-circle rounded" src="./assets/logo-instagram-noir.png" width="50px" height="50px"></a>
            
            <a href="https://www.facebook.com/josedario.gonzalezcharris" target="_blank"><img class="img-thumbnail rounded-circle rounded" src="./assets/logoFacebook.png" alt="icone linkedin" width="50px" height="50px"></a>

            <a href="https://twitter.com/home" target="_blank"><img class="img-thumbnail rounded-circle rounded" src="./assets/logoTwiter.png" alt="icone stackoverflow" width="50px" height="50px"></a>

            <a href="https://accounts.google.com/signin/v2/challenge/pwd?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin&cid=1&navigationDirection=forward&TL=AM3QAYY9tdW8sEaGCRozuFZsLqDAutoLUgkQyJYFaelZvWfOyo8jEThSRXzaogck" target="_blank"><img class="img-thumbnail rounded-circle rounded" title="jdariogonzalez.2020@gmailcom" src="./assets/icone_email.png" alt="icone stackoverflow" width="50px" height="50px"></a>
        </div>
    </div>
    <div class="col-12 col-md-12 col-sm-12 col-lg-6">
        <form>
            <div class="form-group text-white">
                <label for="nome">NOME</label>
                <input type="text" class="form-control border bg-transparent text-white" id="nome" placeholder="Escreva seu nome">
            </div>
            <div class="form-group text-white">
                <label for="email">E-MAIL</label>
                <input type="email" class="form-control border bg-transparent text-white" id="email" placeholder="nome@email.com">
            </div>
            <div class="form-group text-white">
                <label for="assunto">ASSUNTO</label>
                <input type="text" class="form-control border bg-transparent text-white" id="assunto" placeholder="Escreva o assunto">
            </div>
            <div class="form-group text-white">
                <label for="mensagem">MENSAGEM</label>
                <textarea class="form-control border bg-transparent text-white" name="mensagem" id="mensagem" cols="100" rows="7"></textarea>
                
            </div>
            
            <button type="submit" class="btn btn-outline-primary mb-1 mt-2 btn-sm border">CONTATAR</button>
        </form>
    </div>
    <hr class="my-4">
  </div>