<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="./assets/capturaCitapx.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="text-muted">CRUD Angular</h5>
          <p class="lead text-dark">É um projeto criado com o framework Angular, é um CRUD onde o usuário pode agendar uma consulta com seu médico particular; Ao inserir os seus dados pessoais, a data, a hora e os sintomas que apresenta, esta aplicação é muito intuitiva e fácil de utilizar.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="./assets/Giphy.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="text-muted">API Giphy</h5>
            <p class="lead text-dark">Este é um projeto criado com Angular que busca imagens gif no site do Giphy.</p>

            <p class="lead text-dark">O Giphy tem uma API que podemos informar alguns parâmetros e ele nos retorna a URL das imagens.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="./assets/node-js.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="text-muted">Projeto API REST</h5>
            <p class=" lead text-dark">Este é um projeto criado com NodeJS, onde uma API REST é criada para uma lista de tarefas.</p>
            <p class=" lead text-dark">Aqui usei verbos HTTP GET, POST, PUT, DELETE, usando banco de dados e processando corpo de requisição em EXPRES.</p>
            <p class=" lead text-dark">Processando parâmetros de rota em EXPRES e métodos de manipulação de dados usando SEQUELIZE.</p>
        </div>
      </div>
    </div>
    
  </div>
