<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-sm-12 col-lg-6">
      <img src="./assets/fotoPortadaAngular.jpg" alt="foto" class="img-thumbnail rounded-circle mt-5">
    </div>
    <div class="col-12 col-md-12 col-sm-12 col-lg-6">
      <h1 class="fw-bold">Jose Dario Gonzalez Ch.</h1>
      <h2 class="">Full-Stack Developer</h2>
      <hr>
          <h3 class="fw-bold">Olá!</h3>
              <p class="fs-5">Sou uma pessoa empreendedora, que adora desafios e não desiste facilmente. Muito detalhada e autodidata todos os dias, nunca paro de aprender e tenho um dom especial para as pessoas.</p>

              <p class="fs-5">Meu principal objetivo é crescer profissionalmente e evoluir como desenvolvedor, por isso procuro oportunidades que me permitam fazê-lo, sempre tentando me alinhar totalmente aos propósitos das empresas.</p>
    </div>
  </div>
  
</div>
  
