<div class="d-flex justify-content-around row row-cols-1 row-cols-md-3 g-4 mt-3">
    <div class="col">
        <div class="card h-100">
          <img src="./assets/logo_toti.png" class="card-img-top" alt="toti" width="600px" height="200">
          <div class="card-body">
              <h5 class="text-muted">Toti Diversidade</h5>
                  <p class="lead text-dark"> Curso de desenvolvimento FullStack ministrado pela TOTI, plataforma brasileira de ensino e inclusão de pessoas refugiadas e migrantes no mercado de trabalho de tecnologia.</p>
  
                  <p class="lead text-dark">160 horas de aulas ao vivo e gravadas de html, css e javascript, onde também foram abordadas questões como git e github, bem como a administração do Angular no front-end e nodejs no back-end.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Desenvolvedor Full-Stack</small>
          </div>
        </div>
      </div>
    <div class="col">
      <div class="card h-100">
        <img src="./assets/logo_UGMA.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="text-muted">Universidad "Gran Mariscal de Ayacucho"</h5>
          <p class="lead text-dark">Agir legalmente em nome de terceiros.
            Atender corretamente às demandas de assistência jurídica do setor empresarial público e privado.
        
            Assuma papéis de liderança em diferentes níveis sociais.
            Garantir ativamente o respeito pelos direitos humanos e a manutenção do Estado de Direito.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Advogado</small>
        </div>
      </div>
    </div>
  </div>
